html{
    background-color: #E5E5E5;
}

.cuadroPrincipal{
    margin: 5% 0 0 10%;
}
textarea {
    background-color: #E5E5E5;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #0A3871;
    width: 656px;
    height: 400px;
    margin-bottom: 10px;
    border-color: #0A3871;
    border-radius: 2%;
}
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   opacity: 80%;
}
.cuadroSecundario{
    position: absolute;
    background-color: #fff;
    Width: 400px;
    Height:600px;
    Top:30px;
    Left:900px;
    border-radius: 4%;
    position: 0 auto;
    

}
#textoTransformado{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #0A3871;
    text-align: center;

}
.botones{
    margin-top: 10px;
}
#encriptar {
    background-color: #0A3871;
    font-family: 'Dosis', sans-serif;
    color: #D8DFE8;
    font-size: 18px;
    padding: 24px;
    width: 328px;
    height: 7-px;
    border-radius: 10px;
   
 
}


#desencriptar {
    background-color: #D8DFE8;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #0A3871;
    padding: 24px;
    width: 328px;
    height: 70px;
    border-radius: 10px;
    margin-left: 10px;
  
   
    
}
#copiar {
    background-color: #D8DFE8;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #0A3871;
    padding: 24px;
    width: 328px;
    height: 70px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10%;
    
}
#encriptar:hover {
    transform: scale(1.05);
}
#desencriptar:hover {
    transform: scale(1.05);
}
#copiar:hover {
    transform: scale(1.05);
}
img{
    margin-top: 20%;
    margin-left: 10%;
}
h1{
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    margin-top: 10px;
    
}
h2{
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-top: 10px;
}